# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Brain MRI DATASET
# =========================
dataset/

# NIfTI medical imaging files
*.nii
*.nii.gz

# =========================
# TRAINED MODELS
# =========================
*.pkl
*.pth
*.pt
*.ckpt

# =========================
# MODEL OUTPUTS
# =========================
segres_net_runs/
test_predictions/
user_predictions/
user_uploads/

# =========================
# Logs
# =========================
*.log

# =========================
# Frontend
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Environment / secrets
# =========================
.env
.env.*

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
# Experiment outputs
outputs/